.SideToolBar {
    border: 1px solid #ddd;
    background: #fff;
    margin-top: 10px;
    z-index: 2;
    box-sizing: border-box;
}

.RichEditor-styleButton {
    padding-bottom: 0px !important;
    vertical-align: middle;
}

.blockType {
    box-sizing: border-box;
    border: 1px solid #111;
    margin: 0;
    width:100%;
    height:100%;
    line-height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ToolBarBoard {
    border-radius: 2px;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
}

.SideToolBar.sticky .ToolBarBoard {
    max-width: 740px;
    margin: 0 auto;
}
