.GritDetail {
    display:flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    margin:0 auto;
    margin-top: 20px;
    
}

.GritDetail .GritInfo { 
    width: 100%;
    min-height: 240px;
    justify-content: center;
}

.GritDetail .GritInfo .GritProgress {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content : center;
    min-height: 240px;
}

.GritDetail .GritInfo .GritSummary {
    display: flex;
    height:100%;
    min-height: 240px;
}

.GritDetail .GritInfo .GritSummary .GritSummaryList {
    width: 100%;
    height:100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.GritDetail .GritInfo .GritSummary .GritSummaryList li {
    flex: 1 1 auto;
    display: flex;
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    margin:0 auto;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    flex-direction: row;
}

.GritDetail .GritInfo .GritSummary .GritSummaryList li i {
    width: 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

.GritDetail .GritInfo .GritSummary .GritSummaryList li span {
    display:flex;
    flex:2;
    padding-left:16px;
}

.GritDetail .GritInfo .GritSummary .GritSummaryList li div {
    display:flex;
    flex:3;
    justify-content: center;
    color: skyblue;
    text-align: center;
}

h3.gritTitle {
    font-size: 2rem;
}

h3.gritTitle span {
    font-size: 1rem;
    margin-left: 10px;
    cursor:pointer;
    color:#3959e9;
}

h3.gritTitle span:hover {
    color: #dd3f3f;
}

.GritDetail .gritCheckList {
    height:auto;
    margin: 0 auto;
}

.GritDetail .gritCheckList .GritCheckItem {
    position:relative;
        /* -webkit-transform-style: preserve-3d; */
    /* transform-style: preserve-3d; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    min-height:200px;
    margin-bottom:24px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    cursor: pointer;
}
.GritDetail .gritCheckList .GritCheckItem .face {
    position: absolute;
    width: 100%;
    padding:10px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.GritDetail .gritCheckList .GritCheckItem .front { z-index: 20}
.GritDetail .gritCheckList .GritCheckItem .back { 
    z-index: 20;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.GritDetail .gritCheckList .GritCheckItem .gritBoard {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    display:flex;
    flex-direction: column;
}

.GritDetail .gritCheckList .GritCheckItem .gritBoard .itemDate {
    display:flex;
    justify-content: center;
    font-size: 1.3rem;
    padding:20px;
}

.GritDetail .gritCheckList .GritCheckItem .gritBoard .checkIcon {
    display:flex;
    padding:10px;
    width:100%;
    justify-content: center;
    align-items: center;
    border:1px;
    padding:24px;
}    

.GritDetail .gritCheckList .GritCheckItem .gritBoard .checkIcon i { font-size: 6rem;}
.GritDetail .gritCheckList .GritCheckItem .gritBoard .checkIcon i.checked {color:lightgreen}

.flip-2-ver-left-2 {
	-webkit-animation: flip-2-ver-left-2 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0s 1 normal both running;
	        animation: flip-2-ver-left-2 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0s 1 normal both running;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-10 13:59:43
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-ver-left-2
 * ----------------------------------------
 */
 @-webkit-keyframes flip-2-ver-left-2 {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    100% {
      -webkit-transform: translateX(-100%) rotateY(-180deg);
              transform: translateX(-100%) rotateY(-180deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes flip-2-ver-left-2 {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    100% {
      -webkit-transform: translateX(-100%) rotateY(-180deg);
              transform: translateX(-100%) rotateY(-180deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  

  @media (max-width: 767px) {
    .GritDetail .GritInfo .GritSummary .GritSummaryList li {
        min-width: 100%;
        max-width: 100%;
        font-size: 20px;
        align-items: center;
    }

    .GritDetail .GritInfo .GritSummary .GritSummaryList li div {
        text-align: center;
    }

    .GritDetail .GritInfo .GritSummary .GritSummaryList li span {
        padding-left:10px;
    }
    
  }